In [89]:
import pandas as pd
import numpy as np

melb_df = pd.read_csv('data/melb_data_fe.csv')
melb_df['Date'] = pd.to_datetime(melb_df['Date'])
#.astype('category')
melb_quarter = melb_df['Date'].dt.quarter.value_counts(sort = True)
print(melb_quarter) 
print('SECOND QUARTER:',melb_quarter.iloc[1]) 
#melb_df.head()

cols_to_exclude = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car']
max_unique_count = 150
for col in melb_df.columns:
    if melb_df[col].nunique() < max_unique_count and col not in cols_to_exclude:
        melb_df[col] = melb_df[col].astype('category')
#print(melb_df.info())

mask1 = melb_df['AreaRatio'] < -0.8
mask2 = melb_df['Type'] == 'townhouse'
mask3 = melb_df['SellerG'] == 'McGrath'
melb_df[mask1 & mask2 & mask3].sort_values(
    by=['Date', 'AreaRatio'],
    ascending=[True, False],
    ignore_index=True
).loc[:, ['Date', 'AreaRatio']]
print('1558 BuildingArea:',melb_df.sort_values(by='AreaRatio',ascending=False,ignore_index=True).loc[1558,'BuildingArea'])

mask2 = melb_df['Type'] == 'townhouse'
mask1 = melb_df['Rooms'] > 2
print('18 Price:',
melb_df[mask1 & mask2].sort_values(
    by=['Rooms', 'MeanRoomsSquare'],
    ascending=[True, False],
    ignore_index=True).loc[18,'Price']
)

melb_df.head()

#melb_df.groupby('Regionname')['SellerG'].agg(['nunique', set])

#melb_df.groupby('Rooms')['Price'].agg('mean')

melb_df.groupby('Suburb')['Lattitude'].agg('std').sort_values()

melb_df['Date'] = pd.to_datetime(melb_df['Date'])

print(type(pd.to_datetime('01.07.2017')))

mask1 = melb_df['Date'] >= '2017-05-01'
mask2 = melb_df['Date'] <= '2017-09-01'

sort_df = melb_df[mask1 & mask2]
#sort_df['Date'].info()
sort_df.head(2000)
sort_df.groupby('SellerG')['Price'].agg('sum').sort_values()

melb_df.pivot_table(
    values='Price',
    index='Regionname',
    columns='Weekend',
    aggfunc='count',
)

3    4873
2    4359
4    2329
1    2019
Name: Date, dtype: int64
SECOND QUARTER: 4359
1558 BuildingArea: 126.0
18 Price: 1300000.0
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

Weekend                        0     1
Regionname
Eastern Metropolitan         447  1024
Eastern Victoria              13    40
Northern Metropolitan       1258  2632
Northern Victoria             11    30
South-Eastern Metropolitan   123   327
Southern Metropolitan       1534  3161
Western Metropolitan         960  1988
Western Victoria               8    24